.conteiner {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.card {
  width: 254px;
  height: 354px;
  box-shadow: var(--shadow);
  position: relative;
  cursor: pointer;
}

.frontBack {
  border: 10px solid var(--clr-green-01);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: var(--transition);
  backface-visibility: hidden;
  display: grid;
  grid-template-areas:
    "kami3 kami2 kami1 head"
    "kami3 kami2 kami1 head"
    "kami3 kami2 kami1 author"
    "kami3 kami2 kami1 author";
  transition: var(--transition);
}

.frontBack:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.card .front {
}
.card .back {
  transform: rotateY(-180deg);
}
.front > p,
.back > p {
  writing-mode: vertical-rl;
  font-size: 36px;
  font-family: var(--text-font);
  padding-top: 1rem;
}
.kami,
.simo {
  position: relative;
  z-index: 100;
}
.kami:first-child,
.simo:first-child {
  grid-area: kami1;
}
.kami:nth-child(2),
.simo:nth-child(2) {
  grid-area: kami2;
}
.kami:nth-child(3),
.simo:nth-child(3) {
  grid-area: kami3;
}
.author {
  grid-area: author;
  align-self: center;
  font-size: 28px;
  font-family: var(--title-font);
  writing-mode: vertical-rl;
}

.flipped .front {
  transform: rotateY(180deg);
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02); */
  /* transform: rotate3d(0, 1, 0, 180deg);
  backface-visibility: visible; */
}
.flipped .back {
  transform: rotateY(0);
}
.img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  height: auto;
  mix-blend-mode: overlay;
}
.color {
  background-color: antiquewhite;
}
.darkseagreen {
  background-color: darkseagreen;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.darkgreen {
  background-color: darkgreen;
}
.brown {
  background-color: brown;
}
